.tituloc{
    font-size: 55px;
}
.estiloContacto{
    justify-items:center;
    background-color: blanchedalmond;
    justify-self: left;
}
.estiloContacto h4{
    color: blanchedalmond;
    text-align: left;
    font-size: 30px;
    margin-top: 20%;
    margin-left: 15px;
    animation-duration: 6s;
    animation-name: aparecer;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.listasContacto p{
    color: $titulo2-naranja;
    margin-top: 0%;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Mako', sans-serif
}
.listasContacto h3{
    margin-left: 40px;
}
.listasContacto ul{
    list-style: none;
    margin-left: 40px;
}
.listasContacto a{
    text-decoration: none;
    line-height: 40px;
    font-family: 'Mako', sans-serif;
}
.enlacesRedes{
    transition: all .6s ease-out;
}

.enlacesRedes:hover{
    transform: scale(1.20);
}

/* formulario */
.formcontacto{
    width: 400px; 
    font-size: 15px;
    font-family: 'Mako', sans-serif;
    margin: 40px auto;
}

.formcontacto legend{
    color: $titulo-1;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px ;
}
form label{
    color: $titulo-1;
    font-family: 'Mako', sans-serif;
    font-size: 18px;
    padding: 20px auto;
    margin: 10px;
}
input{
    color: $color-marronclaro; 
    border-radius: 8px; 
    border-style:double; 
    border-color: $titulo-1; 
    background-color: #fdf4ed;
    font-size: 15px;
    padding: 5px;
}
textarea{
    border:1px solid $color-marronclaro;
	border-radius:3px;
	background-color: blanchedalmond;			
	margin:8px;
}
select{
    color: $titulo-1; 
    background-color: blanchedalmond; 
    border-color: $titulo-1; 
    border-radius: 20px;
    font-family: 'Mako', sans-serif;
    font-size: 15px;
}