
.fondoIndex{
    background-color: $bg-claro;
    background-image: url(img/justicia-derecho-estudio-juridico.jpg);
    background-size: cover;
    background-attachment: fixed;     
}

.fondoSobre{
    background-color: $bg-claro;
    background-image: url(img/justicia-derecho-fondo-gris.jpg);
    background-size:cover;
    background-attachment:fixed;
}