.principal{
    background-color:#fdf3dd;
    width: 95%;
    margin: auto;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
.titulo1{
    color: $titulo-1;
    font-size: 45px;
    font-style: normal;
    font-family: 'Marcellus', serif;
    text-decoration: none;
    text-align: right;
    margin: 20px auto;
    padding: 100px;
}
.imgMobile{
    display: none;
}


