.contenedorNovedades{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    flex-wrap: nowrap;
}
.contenedorNovedades p{
    text-align:justify;
    margin-left: 2rem;
    margin-top: 5rem;
}
.novedades{
    height: 379px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(102, 76, 76);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
}
.novedades h1{
    font-size: 80px;
    margin-top: 134px;
    margin-left: 85px;
    margin-right: 191px;
    font-family: 'Marcellus', serif;
}
.enlacesNovedades ul{
    text-decoration: none;
    margin-left: 70px;
    color: $titulo2-naranja;
    font-family: 'Mako', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
    line-height: 50px;
    list-style-image: url(/img/star4.png);
}
.enlacesNovedades h4{
    margin-left: 35px;
    font-family: 'Marcellus', serif;
    font-size: 25px;
}
.videoNovedades{
    width: 500px;
    height: 315px;
}
.cardNovedades{
    transition: all .6s ease-out;
}
.cardNovedades:hover{
    transform: scale(1.20);
}