.contenedorNav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
.Sobre{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items:flex-start;
}
.Sobre div p{
    text-align: left;
    margin: 20px;
}
.tituloSobre{
    font-family: 'Marcellus', serif;
    margin-top: 5%;
    padding-left: 8%;
    padding-bottom: 10%;
    text-align: center;
    display: inline-block;
    width: 50%;
}
.Sobre1{
    background-color: $bg-claro;
    width: 50%;
}
.Sobre2{
    background-color: $bg-claro;
    width: 38%; 
    height: auto; 
    padding-top: 30px;
}
.Sobre3{
    padding-top: 0%;
    background: $bg-claro;
    p{
        margin-left: 30px;
        margin-top: 30px;
    }
    img{
        padding-left: 100px;
    }
}