* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdf3dd;
}

header .logo {
  margin-left: 50px;
  -webkit-transition: all 4s ease-in;
  transition: all 4s ease-in;
}

header .logo img {
  width: 120px;
}

header .logo:hover {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

header nav {
  color: #312018;
  margin: 20px;
  font-family: 'Mako', sans-serif;
  font-size: 20px;
}

header nav a {
  text-decoration: none;
}

header nav a:hover {
  font-weight: bold;
}

body {
  background-color: #fdf3dd;
  background-image: url(/img/justicia-derecho-estudio-juridico.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

body section h1 {
  color: #255957;
  font-size: 45px;
  font-style: normal;
  font-family: 'Marcellus', serif;
  text-decoration: none;
  text-align: right;
  margin: 20px auto;
  padding: 100px;
}

body section .imgMobile {
  display: none;
}

main section {
  background-color: #fdf3dd;
  width: 95%;
  margin: auto;
}

main h2 {
  color: #e06025;
  font-family: 'Marcellus', serif;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  padding: 15px;
}

main h3 {
  color: #e06025;
  font-family: 'Mako', sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
  padding: 15px;
}

main h4 {
  color: #6e4625;
  font-family: 'Mako', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
  padding: 15px;
}

main .estiloParrafo {
  color: #3b1a0d;
  font-family: 'Mako', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
  line-height: 250%;
  margin: 40px;
  padding: 15px;
}

main .parrafoSmall {
  color: #3b1a0d;
  font-family: 'Mako', sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: left;
  line-height: 200%;
  margin: 20px;
  padding: 15px;
}

main .botonInicio {
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Marcellus', serif;
  font-weight: 650;
  margin-left: 42%;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 20px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  color: #255957;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: 'Marcellus', serif;
  background-color: #fdf3dd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  list-style: none;
  padding: 20px;
  line-height: 30px;
  text-align: right;
}

footer ul a {
  text-decoration: none;
}

footer p {
  text-align: center;
  font-weight: 600;
}

footer img {
  width: 130px;
  margin-left: 40px;
}

.estiloBread {
  margin-left: 60px;
  font-family: 'Mako', sans-serif;
}
/*# sourceMappingURL=estiloindex.css.map */